[Desktop Entry]
Name=EdossDesk
NoDisplay=true
MimeType=x-scheme-handler/edossdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
